<!DOCTYPE html>
<html>
  <head>
    <title>Rosslet</title>

    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <link href="/static/css/default.css" rel="stylesheet" type="text/css">
    {% block head %} {% endblock %}
  </head>
  <body>
    <div id="rslt_header" class="rslt_nondoc">
      <div id="rslt_title">
        <h1>Rosslet</h1>
      </div> <!-- rslt_title -->
      {% block header %} {% endblock %}
    </div> <!-- rslt_header -->
    {% block body %} {% endblock %}
    <div id="rslt_footer" class="rslt_nondoc">
      <p>Rosslet &copy;2015 David Reeve | Arvo by <a href="https://plus.google.com/110835161102775862873/posts">Anton Koovit</a> | <a href="/about">About &amp; Help</a></p>
    </div>
  </body>
</html>